/********************************************************************************************************

    ██╗   ██╗     █████╗     ██████╗     ██╗     █████╗     ██████╗     ██╗         ███████╗    ███████╗
    ██║   ██║    ██╔══██╗    ██╔══██╗    ██║    ██╔══██╗    ██╔══██╗    ██║         ██╔════╝    ██╔════╝
    ██║   ██║    ███████║    ██████╔╝    ██║    ███████║    ██████╔╝    ██║         █████╗      ███████╗
    ╚██╗ ██╔╝    ██╔══██║    ██╔══██╗    ██║    ██╔══██║    ██╔══██╗    ██║         ██╔══╝      ╚════██║
     ╚████╔╝     ██║  ██║    ██║  ██║    ██║    ██║  ██║    ██████╔╝    ███████╗    ███████╗    ███████║
      ╚═══╝      ╚═╝  ╚═╝    ╚═╝  ╚═╝    ╚═╝    ╚═╝  ╚═╝    ╚═════╝     ╚══════╝    ╚══════╝    ╚══════╝

*********************************************************************************************************/



    :root {
        --font-scale              : 1.2;     /* How the headings font size scales up. */
        --root-font-size          : 10px;    /* The root element, ie HTML, font size. */
        --base-font-size          : 1.8rem;  /* The body element base font size. */
        --base-line-height        : 1.5;     /* The default line height of all elements. */
        --text-line-height        : 1.75;    /* The line height of block text elements. */
        --heading-line-height     : 1.2;     /* The line height of heading elements. */

        --text-rhythm             : 3rem;    /* Vertical margins between text elements. */
        --grid-gutter             : 3rem;    /* Paddings between columns, the grid gutters. */
        --vertical-rhythm         : 3rem;    /* Vertical margins between major grid sections. */
        --panel-width             : 1024px;  /* The width of the panel element. */

        --color-text              : #3c3c3c; /* The colour of the text.*/
        --color-text-selection    : #fafafa; /* The colour of the selected text.*/
        --color-text-selection-bg : #646464; /* The colour of the selected text background.*/
    }



/***************************************************************************************

     ██████╗     ██████╗     ██╗          ██████╗     ██╗   ██╗    ██████╗     ███████╗
    ██╔════╝    ██╔═══██╗    ██║         ██╔═══██╗    ██║   ██║    ██╔══██╗    ██╔════╝
    ██║         ██║   ██║    ██║         ██║   ██║    ██║   ██║    ██████╔╝    ███████╗
    ██║         ██║   ██║    ██║         ██║   ██║    ██║   ██║    ██╔══██╗    ╚════██║
    ╚██████╗    ╚██████╔╝    ███████╗    ╚██████╔╝    ╚██████╔╝    ██║  ██║    ███████║
     ╚═════╝     ╚═════╝     ╚══════╝     ╚═════╝      ╚═════╝     ╚═╝  ╚═╝    ╚══════╝

****************************************************************************************/



    :root {
        --color-blue         : rgb( 12, 155, 212);
        --color-blue-light   : rgb(165, 211, 240);
        --color-green        : rgb(183, 191,  29);
        --color-green-light  : rgb(220, 220,  70);
        --color-yellow       : rgb(250, 214,  32);
        --color-yellow-light : rgb(250, 233,  80);
        --color-orange       : rgb(238, 129,  14);
        --color-orange-light : rgb(253, 182,  68);
        --color-red          : rgb(202,  28,  37);
        --color-red-light    : rgb(240,  58,  58);
        --color-white        : rgb(255, 255, 255);
        --color-gray-light-x : rgb(250, 250, 250);
        --color-gray-light   : rgb(240, 240, 240);
        --color-gray         : rgb(220, 220, 220);
        --color-gray-dark    : rgb(100, 100, 100);
        --color-black        : rgb( 60,  60,  60);
    }



/**************************************************************************************

     ██████╗     ███████╗    ███╗   ██╗    ███████╗    ██████╗      █████╗     ██╗
    ██╔════╝     ██╔════╝    ████╗  ██║    ██╔════╝    ██╔══██╗    ██╔══██╗    ██║
    ██║  ███╗    █████╗      ██╔██╗ ██║    █████╗      ██████╔╝    ███████║    ██║
    ██║   ██║    ██╔══╝      ██║╚██╗██║    ██╔══╝      ██╔══██╗    ██╔══██║    ██║
    ╚██████╔╝    ███████╗    ██║ ╚████║    ███████╗    ██║  ██║    ██║  ██║    ███████╗
     ╚═════╝     ╚══════╝    ╚═╝  ╚═══╝    ╚══════╝    ╚═╝  ╚═╝    ╚═╝  ╚═╝    ╚══════╝

****************************************************************************************/


    * {
        font-weight: 300;
    }

    strong {
        font-weight: 400;
    }
    
    body, a, input {
        color: var(--color-gray-dark);
        font-family: 'Lato', Arial, sans-serif;
    }

    a {
        display: inline-block;
        border-bottom: 1px dotted currentColor;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Averia Serif Libre', Georgia, serif; 
    }

    pre {
        background: var(--color-gray-light-x);
        box-shadow: inset 0 0 5px 0 var(--color-gray-light);
        border: 1px solid var(--color-gray-light);
        border-radius: 3px;
        padding: 1em;
    }

    .message {
        border: 1px solid var(--color-gray);
        background: var(--color-gray-light-x);
        box-shadow: inset 0 0 5px 0 var(--color-gray-light);
        padding: 3rem;
        border-radius: 3px;
    }

    #log-length {
        padding: 0;
        vertical-align: middle;
    }

    .action-log {
        padding: 4px 15px;
        vertical-align: middle;
    }

    button, .button {
        border-radius: 2px;
    }



/****************************************************************************

    ██╗          █████╗     ██╗   ██╗     ██████╗     ██╗   ██╗    ████████╗
    ██║         ██╔══██╗    ╚██╗ ██╔╝    ██╔═══██╗    ██║   ██║    ╚══██╔══╝
    ██║         ███████║     ╚████╔╝     ██║   ██║    ██║   ██║       ██║
    ██║         ██╔══██║      ╚██╔╝      ██║   ██║    ██║   ██║       ██║
    ███████╗    ██║  ██║       ██║       ╚██████╔╝    ╚██████╔╝       ██║
    ╚══════╝    ╚═╝  ╚═╝       ╚═╝        ╚═════╝      ╚═════╝        ╚═╝

*****************************************************************************/



    .wrapper header,
    .wrapper footer, 
    .wrapper section {
        margin: 5rem 3rem;
    }